@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h1{
    @apply text-5xl;
    @apply font-bold;
  }
  h2{
    @apply text-3xl;
    @apply font-bold;
  }
  h3{
    @apply text-xl;
    @apply font-bold;
  }
  h4{
    @apply text-lg;
    @apply font-bold;
  }
  body{
    @apply font-normal;
  }
  
}

@layer components{
 
  .contacto_icono{
    color:var(--color-contact-icon);
  }

  .error{
    background-color: theme('colors.error');
  }

  .success{
    background-color: theme('colors.success');
  }

  .warning{
    background-color: theme('colors.warning'); 
  }

  .sectionDivider{
    border-width: 2px;
    border-color: theme('colors.portfolioAzul2');
    margin-top: 1rem;
    margin-bottom: 1rem;
  }



  .mostrar_menu{
    transition-duration: 0.75s;
    transition-timing-function: ease-out;
  }

  .custom-cursor{
    position: absolute;
    pointer-events:none; 
    transform:translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 30;
    display: none;
    /* radial-gradient(circle, rgba(246,232,13,1) 0%,  rgba(255,255,255,0) 70%); */
    background: radial-gradient(circle,var(--color-cursor) 0%,rgba(255,255,255,0) 70%);
  }

  .headerSection{
    @apply text-4xl;
  }

  .flip-card {
    background-color: transparent;
    /* width: 300px;
    height: 300px; */
    aspect-ratio: 1/1; /*Para hacer que siempre tenga el mismo h y w*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    transform: rotateY(180deg);
  }

  .flip-card-back .lenguajes{
    color:#0f172a;
  }

  .flip-card-front img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .ayuda + p{
      opacity: 0;
  }

  .ayuda:hover + p{
    animation: theme('animation.showHelp');
  }

  .experiencia_header{
    color:var(--color-cabecera-experiencia);
  }

  .tiempo_experiencia{
      color:var(--experiencia);
  }

  .habilidades-container{
    background-color:var(--color-fondo);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .habilidades-container h4{
      font-size: clamp(0.9em,4vw,1.12em);
  }

  .habilidades-icon{
      color:var(--color-cabeceras-principales);
      font-size: clamp(5.25em,4vw,6em);
  }


  .certificacion-box{
      background-image:linear-gradient(to right,var(--color-body),var(--color-fondo));
  }

  .certificacion-box span{
      color:var(--color-nota);
  }

}