@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h1{
    @apply text-5xl;
  }
  h2{
    @apply text-3xl;
  }
  h3{
    @apply text-xl;
  }
  h4{
    @apply text-lg;
  }

  
}

@layer components{
  .error{
    background-color: theme('colors.error');
  }

  .success{
    background-color: theme('colors.success');
  }

  .warning{
    background-color: theme('colors.warning'); 
  }

  .sectionDivider{
    border-width: 2px;
    border-color: theme('colors.portfolioAzul2');
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .headerSection{
    @apply text-4xl;
  }

}