@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,500;1,800&display=swap');



/*LIGHT THEME COLORS*/
/*
Primer color: #e7eaf6
Segundo color: #a2a8d3
Tercer color: #38598b
Cuarto color: #113f67
*/

@keyframes Web_Load {
    0%{opacity: 0};
    100%{opacity: 1};
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color:var(--color-body);
    color:var(--color-texto);
    /* animation-name:Web_Load;
    animation-duration: 2s;
    animation-timing-function: ease-out; */
}

h1,h2,h3,h4{
    font-weight: 700;
}

h1{
    color:var(--color-cabeceras-principales);
}

h2,h3,h4{
    color:var(--color-cabecera-secundaria);
}

.articulo{
    border: 4px solid #a2a8d3; 
    background-color: var(--color-fondo);
}

#mifoto{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--color-cabecera-secundaria);
}

#info_Cabecera strong{
    color:var(--color-cabeceras-principales);
}

#darkmode-btn{
    border: 4px solid var(--color-cabecera-secundaria);
    background:var(--color-body);
}

#darkmode-btn i{
    color:var(--boton-dark-mode);
}

/* ACCION BOTÓN DEL MENU */
.botonMenu{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    gap: 5px;    
    color:var(--color-cabecera-secundaria);
}

.transformar{
    transition-duration: 0.75s;
    transition-timing-function: ease-out;
}

.menu_abierto{
    width: 100%;
}

/* CONTENIDO DEL MENÚ LATERAL */


.contenido_menu_inicio{
    opacity: 0;
    background-color: var(--color-fondo);
}

.contenido_visible{
    opacity: 1;
}

.mostrar_menu{
    transition-duration: 0.75s;
    transition-timing-function: ease-out;
}



:root{
    --color-cabeceras-principales:#113f67;
    --color-cabecera-secundaria:#38598b;
    --color-fondo:#e7eaf6;
    --color-body:#fff;
    --color-texto:#000;
    --boton-dark-mode:orangered;
}

.dark-mode{
    --color-body:#0f172a;
    --color-texto:#e7eaf6;
    --color-cabecera-secundaria:#a2a8d3;
    --color-fondo:#113f67;
    --color-cabeceras-principales:#808ad3;
    --boton-dark-mode: var(--color-texto);
}