@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,500;1,800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h1,h2,h3,h4{
    font-weight: 700;
    color: var(--color-cabeceras)
}

.caja{
    border:3px solid green;
}

#mifoto{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid violet;
}

:root{
    --color-cabeceras:lime;
}